<!DOCTYPE html>
<html>
<head>
    <title>Card &ndash; the better way to collect credit cards</title>
    <meta name="viewport" content="initial-scale=1">
    <!-- CSS is included through the card.js script -->
</head>
<body>
    <style>
        .demo-container {
            width: 100%;
            max-width: 350px;
            margin: 50px auto;
        }

        form {
            margin: 30px;
        }
        input {
            width: 200px;
            margin: 10px auto;
            display: block;
        }

    </style>
    <div class="demo-container">
        <div class="card-wrapper"></div>


        <div class="form-container active">

        <%=form_with url:"/pagar", method: "POST", id: "card-form" do |f|%>
            <span class="card-errors"></span>
            <div>
                <label>
                <span>Nombre del tarjetahabiente</span>
                <input type="text" size="20" data-conekta="card[name]">
                </label>
            </div>
            <div>
                <label>
                <span>Número de tarjeta de crédito</span>
                <input type="text" size="20" data-conekta="card[number]">
                </label>
            </div>
            <div>
                <label>
                <span>CVC</span>
                <input type="text" size="4" data-conekta="card[cvc]">
                </label>
            </div>
            <div>
                <label>
                <span>Fecha de expiración (MM/AAAA)</span>
                <input type="text" size="2" data-conekta="card[exp_month]">
                </label>
                <span>/</span>
                <input type="text" size="4" data-conekta="card[exp_year]">
            </div>
            <button type="submit">Crear token</button>
        <%end%>

        </div>
    </div>

    <script>
        new Card({
            form: document.querySelector('form'),
            container: '.card-wrapper'
        });
    </script>
    <script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>
    <script>
        (function(){

    //script de conekta
    Conekta.setPublicKey('key_KrxcYXbTGVTrs6vdxq2rreQ');

    var conektaSuccessResponseHandler = function (token) {
      var $form = $("#card-form");
      //Inserta el token_id en la forma para que se envíe al servidor
      $form.append($('<input type="hidden" name="conektaTokenId" id="conektaTokenId">').val(token.id));
      $form.get(0).submit(); //Hace submit
    };
    var conektaErrorResponseHandler = function (response) {
      var $form = $("#card-form");
      $form.find(".card-errors").text(response.message_to_purchaser);
      $form.find("#my-button").prop("disabled", false);
    };

    //jQuery para que genere el token después de dar click en submit
    $(function () {
      $("#card-form").submit(function (event) {
        var $form = $(this);
        // Previene hacer submit más de una vez
        $form.find("#my-button").prop("disabled", true);
        Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
        return false;
      });
    });

  })();
    </script>
</body>
</html>